<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Admin Dashboard - Add Faculty Data</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <style>
      body {
        background-color: #020230;
        color: #020230;
      }
      .container-box {
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        color: black;
        max-width: 600px;
        margin: 50px auto;
      }
      h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #020230;
      }
    </style>
  </head>
  <body class="sub_page">
    <div class="hero_area">
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/coordinatordash">
              <span>
                <img src="/images/symbilogo.jpg" alt="Logo" class="logo" style="width: 50px; height: auto" />
              </span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <a class="navbar-brand" href="/"> </a>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/coordinatordash">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/viewmapping">View Mapping</a></li>
                <li class="nav-item"><a class="nav-link" href="/viewfacultycoord">Faculty Data</a></li>
                <li class="nav-item"><a class="nav-link" href="/viewstudent">Student Data</a></li>
                <li class="nav-item"><a class="nav-link" href="/download-excel">Download Excel Format</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </div>

    <section class="admin_section layout_padding">
      <div class="container-box">
        <h2>Add Faculty Data</h2>
        <div class="heading_container">
        </div>
        <form action="/upload-faculty" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="facultyFile">Upload Faculty List (Excel)</label>
            <input type="file" class="form-control" id="facultyFile" name="facultyFile" required />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Upload</button>
        </form>
      </div>
    </section>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
